.body1 {
  margin: 0;
  font-family: 'Preahvihear', sans-serif;
  background: radial-gradient(#621d1d, #1e0101);
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}

/* Top Navigation */
.top-nav {
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.logo {
  color: #f5e6ce;
  font-weight: bold;
}

.about a {
  color: white;
  text-decoration: none;
}

/* Clouds */
.cloud {
  position: absolute;
  width: 120px;
}

.cloud1 { top: 10%; left: 10%; }
.cloud2 { top: 5%; right: 15%; opacity: .3; }
.cloud3 { top: 60%; left: 5%; opacity: .3; }
.cloud4 { top: 70%; right: 10%; opacity: .3; }

/* Phones */
.phones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 15rem;

  position: relative;
  z-index: 1;   /* behind */
}


.phone {
  width: 150px;
  border-radius: 30px;
}

.phone-left { transform: rotate(-10deg); }
.phone-center { transform: scale(1.1); }
.phone-right { transform: rotate(10deg); }

/* Buttons */
.menu-buttons {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  z-index: 5;   /* above phones */
}


.menu-button {
  background: #d8d8d8;
  color: #003366;
  padding: .7rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}


/* Icons */
.icon {
  position: absolute;
}

.fire { bottom: 30px; right: 250px; width: 200px; }
.spark { bottom: 30px; left: 250px; width: 200px; }

.logout-btn {
  background: #ff5c5c;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #e04444;
}
